<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>ClassProX</ion-title>
  </ion-toolbar>
  <ion-toolbar color="mycolor">
    <ion-title>Menú de Clases</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-item>
    <ion-icon slot="" name="qr-code" class="preguntasfre"></ion-icon>
    <ion-label>Programación APP Mobile S003V</ion-label>
  </ion-item>
  <br>
  <ion-item>
    <ion-icon slot="" name="qr-code" class="preguntasfre"></ion-icon>
    <ion-label>ArquitecturaS003V</ion-label>
  </ion-item>
  <br>
  <ion-item>
    <ion-icon slot="" name="qr-code" class="preguntasfre"></ion-icon>
    <ion-label>Estadística Aplicada S003V</ion-label>
  </ion-item>
  <br>
  <ion-item>
    <ion-icon slot="" name="qr-code" class="preguntasfre"></ion-icon>
    <ion-label>Proceso de Portafolio S003V</ion-label>
  </ion-item>
  <br>
  <ion-item>
    <ion-icon slot="" name="qr-code" class="preguntasfre"></ion-icon>
    <ion-label>Ética para el Trabajo S003V</ion-label>
  </ion-item>
  <br>
  <ion-item>
    <ion-icon slot="" name="qr-code" class="preguntasfre"></ion-icon>
    <ion-label>Calidad de Software S003V</ion-label>
  </ion-item>
  <br>
  <br>
  <ion-button class=button-general href="menu" expand="full" fill="outline" shape="round" >
    Volver
  </ion-button>
  <br>
  <ion-button class=button-cancel expand="full" fill="outline" shape="round">
    Eliminar
  </ion-button>
  <br>
</ion-content>
